<template>
  <div>
    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <button
          class="button"
          aria-haspopup="true"
          aria-controls="dropdown-menu3">
          <span>New Construction</span>
          <span class="icon is-small">
            <b-icon
              icon="chevron-down"
            />
          </span>
        </button>
      </div>
      <div
        id="dropdown-menu3"
        class="dropdown-menu"
        role="menu">
        <div class="dropdown-content">
          <a
            href="/projects/new/in_progress=true"
            class="dropdown-item">
            Ongoing
          </a>
          <a
            href="/projects/new/in_progress=false"
            class="dropdown-item">
            Completed
          </a>
          <hr class="dropdown-divider">
          <a
            href="/projects/new/all"
            class="dropdown-item">
            All
          </a>
        </div>
      </div>
    </div>
    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <button
          class="button"
          aria-haspopup="true"
          aria-controls="dropdown-menu3">
          <span>Repair/Renovation</span>
          <span class="icon is-small">
            <b-icon
              icon="chevron-down"
            />
          </span>
        </button>
      </div>
      <div
        id="dropdown-menu3"
        class="dropdown-menu"
        role="menu">
        <div class="dropdown-content">
          <a
            href="/projects/renovation/in_progress=true"
            class="dropdown-item">
            Ongoing
          </a>
          <a
            href="/projects/renovation/in_progress=false"
            class="dropdown-item">
            Completed
          </a>
          <hr class="dropdown-divider">
          <a
            href="/projects/renovation/all"
            class="dropdown-item">
            All
          </a>
        </div>
      </div>
    </div>
    <a
      href="/projects"
      class="button is-primary is-3">All Projects</a>
    <div class="top-space"/>
    <div class="row columns is-multiline">
      <div
        v-for="project in projects"
        :key="project.startDate"
        class="column is-one-third">
        <div class="card large">
          <div class="card-image">
            <figure class="image is-5by4">
              <img
                :src="project.imageUrl"
              >
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4 no-padding">{{ project.name }}</p>
                <p class="subtitle is-6">{{ project.location }}</p>
              </div>
            </div>
            <div class="content">
              {{ project.info }}
              <br>
              <br>
              {{ project.startDate }}
            </div>
            <footer class="card-footer">
              <a
                :href="'/project/'+project.id"
                class="card-footer-item">KNOW MORE</a>  <!-- to show more info about each project -->
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

import { firestore } from '~/plugins/vuexfirebase'

export default {
  layout: 'layout',
  computed: {
    ...mapState('projects', ['projects'])
  },
  created() {
    const ref = firestore.collection('projects')

    this.setProjectRef({ ref })
  },
  methods: {
    ...mapActions('projects', ['setProjectRef'])
  }
}
</script>

<style scoped>
.top-space {
  margin-top: 25px;
}
</style>
