<template>
  <div>
    <br>
    <h1 class="title">Enter Investor Details</h1>
    <div class="field">
      <label class="label">Investor Name</label>
      <div class="control">
        <input
          v-model="newInvestor.name"
          class="input"
          type="text"
          placeholder="Text input">
      </div>
    </div>

    <div class="field">
      <label class="label">Investor Info</label>
      <div class="control">
        <textarea
          v-model="newInvestor.info"
          class="textarea"
          placeholder="Textarea"/>
      </div>
    </div>

    <b-field class="file">
      <b-upload
        v-model="file"
        type = "file"
        multiple>
        <a class="button is-primary">
          <b-icon icon="upload"/>
          <span>Upload Investor Photo</span>
        </a>
      </b-upload>
      <span
        v-if="file"
        class="file-name">
        {{ file[0].name }}
      </span>
    </b-field>

    <div class="field is-grouped">
      <div class="control">
        <button
          class="button is-link"
          @click="submit">Submit</button>
      </div>
      <div class="control">
        <button class="button is-text">Cancel</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

import { firebase, firestore } from '~/plugins/vuexfirebase'

export default {
  layout: 'layout',
  data() {
    return {
      file: null,
      newInvestor: {
        name: '',
        info: '',
        imageUrl: ''
      }
    }
  },
  computed: {
    ...mapState('investors', ['investors'])
  },
  created() {
    const ref = firestore.collection('investors')

    this.setInvestorRef({ ref })
  },
  methods: {
    submit: function() {
      const storageRef = firebase
        .storage()
        .ref('investors/' + this.file[0].name)
      storageRef
        .put(this.file[0])
        .then(response => {
          response.ref.getDownloadURL().then(downloadURL => {
            this.newInvestor.imageUrl = downloadURL
            this.addInvestor(this.newInvestor)
            this.$toast.open({
              duration: 100000,
              message: 'Investor Uploaded. Please Reload the Page.',
              type: 'is-success'
            })
          })
        })
        .catch(err => console.log(err))
    },
    ...mapActions('investors', ['setInvestorRef', 'addInvestor'])
  }
}
</script>
