<template>
  <div>
    <br>
    <h1 class="title">Enter Project Details</h1>
    <div class="field">
      <label class="label">Project Name</label>
      <div class="control">
        <input
          v-model="newProject.name"
          class="input"
          type="text"
          placeholder="Text input">
      </div>
    </div>

    <div class="field">
      <label class="label">Project Type</label>
      <div class="control">
        <div class="select">
          <select v-model="newProject.type">
            <option>New Construction</option>
            <option>Repair and Renovation</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input
            v-model="newProject.in_progress"
            type="checkbox">
          In Progress
        </label>
      </div>
    </div>

    <b-field label="Project Start Date">
      <b-datepicker
        v-model="newProject.start_date"
        placeholder="Click to select..."
        icon="calendar-today"/>
    </b-field>

    <b-field label="Project Finish Date">
      <b-datepicker
        v-model="newProject.finish_date"
        placeholder="Click to select..."
        icon="calendar-today"/>
    </b-field>

    <div class="field">
      <label class="label">Project Location</label>
      <div class="control">
        <input
          v-model="newProject.location"
          class="input"
          type="text"
          placeholder="Text input">
      </div>
    </div>

    <div class="field">
      <label class="label">Project Info</label>
      <div class="control">
        <textarea
          v-model="newProject.info"
          class="textarea"
          placeholder="Textarea"/>
      </div>
    </div>

    <b-field class="file">
      <b-upload
        v-model="file"
        type = "file"
        multiple>
        <a class="button is-primary">
          <b-icon icon="upload"/>
          <span>Upload Project Photo</span>
        </a>
      </b-upload>
      <span
        v-if="file"
        class="file-name">
        {{ file[0].name }}
      </span>
    </b-field>

    <div class="field is-grouped">
      <div class="control">
        <button
          class="button is-link"
          @click="submit">Submit</button>
      </div>
      <div class="control">
        <button class="button is-text">Cancel</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

import { firebase, firestore } from '~/plugins/vuexfirebase'

export default {
  layout: 'layout',
  data() {
    return {
      file: null,
      timer: '',
      newProject: {
        name: '',
        type: '',
        in_progress: false,
        start_date: new Date(),
        finish_date: new Date(),
        location: '',
        info: '',
        imageUrl: ''
      }
    }
  },
  computed: {
    ...mapState('projects', ['projects'])
  },
  created() {
    const ref = firestore.collection('projects')

    this.setProjectRef({ ref })
  },
  methods: {
    submit: function() {
      const storageRef = firebase.storage().ref('projects/' + this.file[0].name)
      storageRef
        .put(this.file[0])
        .then(response => {
          response.ref.getDownloadURL().then(downloadURL => {
            this.newProject.imageUrl = downloadURL
            this.addProject(this.newProject)
            this.$toast.open({
              duration: 100000,
              message: 'Project Uploaded. Please Reload the Page.',
              type: 'is-success'
            })
          })
        })
        .catch(err => console.log(err))
    },
    ...mapActions('projects', ['setProjectRef', 'addProject'])
  }
}
</script>
