<template>
  <div>
    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <button 
          class="button" 
          aria-haspopup="true" 
          aria-controls="dropdown-menu3">
          <span>New Construction</span>
          <span class="icon is-small">
            <b-icon
              icon="chevron-down"
            />
          </span>
        </button>
      </div>
      <div 
        id="dropdown-menu3" 
        class="dropdown-menu" 
        role="menu">
        <div class="dropdown-content">
          <a 
            href="/projects/new/in_progress=true"
            class="dropdown-item">
            Ongoing
          </a>
          <a 
            href="/projects/new/in_progress=false"
            class="dropdown-item">
            Completed
          </a>
          <hr class="dropdown-divider">
          <a 
            href="/projects/new/all"
            class="dropdown-item">
            All
          </a>
        </div>
      </div>
    </div>
    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <button 
          class="button" 
          aria-haspopup="true" 
          aria-controls="dropdown-menu3">
          <span>Repair/Renovation</span>
          <span class="icon is-small">
            <b-icon
              icon="chevron-down"
            />
          </span>
        </button>
      </div>
      <div 
        id="dropdown-menu3" 
        class="dropdown-menu" 
        role="menu">
        <div class="dropdown-content">
          <a 
            href="/projects/renovation/in_progress=true" 
            class="dropdown-item">
            Ongoing
          </a>
          <a 
            href="/projects/renovation/in_progress=false"  
            class="dropdown-item">
            Completed
          </a>
          <hr class="dropdown-divider">
          <a 
            href="/projects/renovation/all" 
            class="dropdown-item">
            All
          </a>
        </div>
      </div>
    </div>
    <a 
      href="/projects" 
      class="button is-primary is-3">All Projects</a>
    <div class="top-space"/>
    <div class="row columns is-multiline">
      <div 
        v-for="project in projects_filtered" 
        :key="project.startDate" 
        class="column is-one-third">
        <div class="card large">
          <div class="card-image">
            <figure class="image is-5by4">
              <img 
                :src="project.imageUrl"
              >  
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4 no-padding">{{ project.name }}</p>
                <p class="subtitle is-6">{{ project.location }}</p>
              </div>
            </div>
            <div class="content">
              {{ project.info }}
              <br>
              <br>
              {{ project.startDate }}
            </div>
            <footer class="card-footer">
              <a 
                :href="'/project/'+project.id" 
                class="card-footer-item">KNOW MORE</a>  <!-- to show more info about each project -->
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { firestore } from '~/plugins/vuexfirebase'

export default {
  layout: 'layout',
  data: function() {
    return {
      type: this.$route.params.type,
      progress: this.$route.params.progress.substr(
        12 - this.$route.params.progress.length //to get boolean value after 'in_progress='
      )
    }
  },
  computed: {
    ...mapState('projects_filtered', ['projects_filtered'])
  },
  created() {
    if (this.progress === 'true') {
      this.progress = true
    } else if (this.progress === 'false') {
      this.progress = false
    }

    if (this.type === 'new') {
      this.type = 'New Construction' //to match with firebase entry
    } else if (this.type === 'renovation') {
      this.type = 'Repair and Renovation' //to match with firebase entry
    }

    if (
      (this.progress === true || this.progress === false) &&
      (this.type === 'New Construction' ||
        this.type === 'Repair and Renovation')
    ) {
      const ref = firestore
        .collection('projects')
        .where('in_progress', '==', this.progress)
        .where('type', '==', this.type)

      this.setProjectsFilteredRef({ ref })
    } else if (this.progress == '') {
      //for all filter in renovation and newConstruction category
      const ref = firestore
        .collection('projects')
        .where('type', '==', this.type)

      this.setProjectsFilteredRef({ ref })
    } else {
      console.error('URL entered is not valid!')
    }
  },
  methods: {
    ...mapActions('projects_filtered', ['setProjectsFilteredRef'])
  }
}
</script>

<style scoped>
.top-space {
  margin-top: 25px;
}
</style>
