<template>
  <div>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <div class="soc">
            <nuxt-link to="/suppliers"><b-icon
              icon="garage"
              type="is-dark"
              size="is-medium"
            /></nuxt-link>
            &nbsp;
            <nuxt-link to="/projects"><b-icon
              icon="office-building"
              type="is-dark"
              size="is-medium"
            /></nuxt-link>
            &nbsp;
            <nuxt-link to="/contact"><b-icon
              icon="phone-classic"
              type="is-dark"
              size="is-large"
            /></nuxt-link>
            &nbsp;
            <nuxt-link to="/investors"><b-icon
              icon="currency-usd"
              type="is-dark"
              size="is-medium"
            /></nuxt-link>
            &nbsp;
            <nuxt-link to="/about"><b-icon
              icon="book-open"
              type="is-dark"
              size="is-medium"
            /></nuxt-link>
          </div>
          <p>
            <strong>Bulma</strong> by Jeremy Thomas.
            The source code is licensed MIT. <br>
          </p>
        </div>
      </div>
    </footer>
    <div class="space" />
  </div>
</template>

<script>
export default {
  data() {
    return {}
  }
}
</script>

<style>
.footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}
.space {
  margin-bottom: 240px;
}
</style>
