<template>
  <div>
    <nav
      class="navbar is-transparent"
      role="navigation"
      aria-label="main navigation">
      <div class="navbar-brand">
        <div
          class="navbar-item">
          <img
            src="https://bulma.io/images/bulma-logo.png"
            width="112"
            height="28">&nbsp;&nbsp;
        </div>

        <div
          :class="{'is-active': showNav}"
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          @click.stop="showNav=!showNav">
          <span style="color: #47494e;"/>
          <span style="color: #47494e;"/>
          <span style="color: #47494e;"/>
        </div>
      </div>

      <div
        :class="{'is-active': showNav}"
        class="navbar-menu">
        <div class="navbar-start">
          <nuxt-link
            v-for="item in menuItems"
            :key="item.title"
            :to="item.link"
            class="navbar-item">
            <b-icon
              :icon="item.icon"
            />
            &nbsp;&nbsp;{{ item.title }}
          </nuxt-link>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <nuxt-link
                to="/contact"
                class="button is-primary">
                <b-icon
                  icon="phone-classic"
                />
                <strong>Contact Us</strong>
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="container column">
      <nuxt />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showNav: false,
      menuItems: [
        { icon: 'book-open', title: 'About Us', link: '/about' },
        { icon: 'office-building', title: 'Projects', link: '/projects' },
        {
          icon: 'currency-usd',
          title: 'Investors',
          link: '/investors'
        },
        { icon: 'garage', title: 'Suppliers', link: '/suppliers' }
      ]
    }
  }
}
</script>
