<template>
  <div>
    <app-navbar/>
    <app-footer/>
  </div>
</template>

<script>
import NavBar from '../components/navbar.vue'
import Footer from '../components/footer.vue'

export default {
  components: {
    'app-navbar': NavBar,
    'app-footer': Footer
  }
}
</script>
