<template>
  <div id="example">
    <carousel-3d
      :width="977"
      :height="550"
      :autoplay="true"
      :autoplay-timeout="3000"
      :controls-visible="true"
      :clickable="false">
      <app-slide
        v-for="(photo, i) in homeProjects"
        :key="i"
        :index="i">
        <figure>
          <img :src="photo.imageUrl">
          <figcaption>
            {{ photo.name }} :
            {{ photo.location }}
          </figcaption>
        </figure>
      </app-slide>
    </carousel-3d>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

import { firestore } from '~/plugins/vuexfirebase'
import { Carousel3d, Slide } from 'vue-carousel-3d'

export default {
  name: 'AppCarousel',
  layout: 'layout',
  components: {
    'carousel-3d': Carousel3d,
    'app-slide': Slide
  },
  data() {
    return {
      slides: 7
    }
  },
  computed: {
    ...mapState('home', ['homeProjects'])
  },
  created() {
    const ref = firestore.collection('projects')

    this.setHomeProjectsRef({ ref })
  },
  methods: {
    ...mapActions('home', ['setHomeProjectsRef'])
  }
}
</script>

<style scoped>
.carousel-3d-container figure {
  margin: 0;
}

.carousel-3d-container figcaption {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  bottom: 0;
  padding: 15px;
  font-size: 12px;
  min-width: 100%;
  box-sizing: border-box;
}
</style>
