<template>
  <div>
    <div class="row columns is-multiline">
      <div
        v-for="investor in investors"
        :key="investor.name"
        class="column is-one-third">
        <div class="card large">
          <div class="card-image">
            <figure class="image is-5by4">
              <img
                :src="investor.imageUrl"
                alt="Avatar"
              >
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4 no-padding">{{ investor.name }}</p>
              </div>
            </div>
            <div class="content">
              {{ investor.info }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

import { firestore } from '~/plugins/vuexfirebase'

export default {
  layout: 'layout',
  computed: {
    ...mapState('investors', ['investors'])
  },
  created() {
    const ref = firestore.collection('investors')

    this.setInvestorRef({ ref })
  },
  methods: {
    ...mapActions('investors', ['setInvestorRef'])
  }
}
</script>
