<template>
  <div>
    <div  
      class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img 
            :src="project.imageUrl" 
            alt="Project Image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{ project.name }}</p>
            <p class="subtitle is-6">{{ project.location }}</p>
          </div>
        </div>
        <div class="content">
          {{ project.info }}
          <br>
          <br>
          <time>{{ project.startDate }}</time>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { firestore } from '~/plugins/vuexfirebase'

export default {
  layout: 'layout',
  data: function() {
    return {
      projectId: this.$route.params.id
    }
  },
  computed: {
    ...mapState('project', ['project'])
  },
  created() {
    const ref = firestore.collection('projects').doc(this.projectId)

    this.setProjectRef({ ref })
  },
  methods: {
    ...mapActions('project', ['setProjectRef'])
  }
}
</script>
